* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
}

div {
  text-align: center;
}

button {
  border: none;
  width: 5.5em;
  height: 2em;
  color: #fff;
  cursor: pointer;
}


.btn-green {
  background-color: green;
}

.btn-grey {
  background-color: grey;
}

.btn-red {
  background-color: red;
}